/*---------------------------------------------Fonts*/

@font-face {
    font-family: "blackpearl";
    src: url("../fonts/blackpearl.ttf") format("truetype");
}

/*---------------------------------------------Body*/

html {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    background-image: url("../images/background.webp");
    background-color: #efe8cc;
    color: #1b1b1b;
    background-size: cover;
    font-family: "Fondamento", cursive, sans-serif;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex-grow: 1;
}

/*---------------------------------------------Text*/

h1 {
    font-size: 7vw;
    margin-bottom: 0;
    position: absolute;
    left: 49%;
    transform: translateX(-50%);
    top: 26%;
    width: 100%;
}

h2 {
    font-weight: bold;
    text-align: center;
    padding-bottom: 5px;
    font-size: 5vw;
}

h3 {
    font-weight: bold;
    text-align: center;
    margin: 0 auto;
    font-size: 5.5vw;
}

p {
    font-size: 14px;
}

/*---------------------------------------------Images*/

.book {
    width: 100%;
    height: auto;
    grid-row: 1;
    grid-column: 1 / -1;
}

#scroll {
    width: 100%;
    height: auto;
    grid-row: 1;
    grid-column: 1 / -1;
}

.hazel {
    height: auto;
    width: 100%;
}

.modal-image {
    height: auto;
    width: 30%;
    margin-bottom: 20px;
    max-width: 120px;
}

.bg-image {
    position: absolute;
    height: auto;
}

.bg-cauldron {
    width: 600px;
    top: -350px;
    left: -800px;
}

.bg-candle-green {
    width: 32%;
    top: 110%;
    left: 50%;
    transform: translateX(-50%);
}

.bg-candle-orange {
    width: 28%;
    top: 115%;
    right: 0px;
}

.bg-candle-purple {
    width: 24%;
    top: 120%;
    left: 0px;
}

.bg-orb {
    width: 600px;
    top: -400px;
    right: -750px;
}

.bg-wand {
    width: 220px;
    top: 50px;
    right: -320px;
}

/*---------------------------------------------Buttons*/

.button {
    border: 3px solid #4a0b6e;
    background-color: #4f4280;
    color: #baff42;
    border-radius: 50px;
    transition: background-color 0.3s ease-in-out;
}

.button:hover {
    background-color: #4a0b6e;
    border-color: #28063c;
}

.book-btn {
    font-size: 3.25vw;
    padding: 2px;
}

.home {
    padding: 2px 10px;
}

.modal-btn {
    margin: 25px 15px 5px;
    padding: 5px 10px;
}

#win-btn,
#lose-btn {
    display: none;
}

/*---------------------------------------------Lists*/

.list {
    list-style-type: none;
    padding-left: 0;
}

.bullet {
    display: inline-block;
    vertical-align: top;
    width: 12px;
}

.li-text {
    display: inline-block;
    width: calc(100% - 18px);
    font-size: 14px;
}

ul li {
    padding-top: 10px;
    padding-left: 0;
}

#top-players {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    margin-bottom: 0;
    margin-left: 15%;
    height: 100%;
    width: 85%;
    padding: 0;
}

.selected-player {
    font-weight: bold;
}

ol li {
    font-size: 5vw;
}

/*---------------------------------------------Title*/

#title-container {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    align-items: center;
    width: 80%;
    margin: 5% auto 0;
    position: relative;
}

.title {
    font-family: "blackpearl", "Fondamento", cursive, sans-serif;
    /*The below code was obtained from 'fossheim.io' to apply the text colour gradient. */
    -webkit-text-stroke: 1px #4a0b6e;
    background-color: black;
    background-image: linear-gradient(yellow, orange, yellow);
    background-size: 100% 30%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
}

/*---------------------------------------------Scoreboard*/

#scoreboard {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 75%;
    margin: 5% auto;
    position: relative;
}

#hourglass {
    width: 40%;
    height: auto;
    align-self: center;
    justify-self: start;
    grid-row: 1;
    grid-column: 1 / 2;
}

#crystal-ball {
    width: 40.8%;
    height: auto;
    align-self: center;
    justify-self: end;
    grid-row: 1;
    grid-column: 1 / 2;
}

#star {
    width: 72%;
    height: auto;
    align-self: center;
    justify-self: end;
    grid-row: 1;
    grid-column: 2 / 3;
}

#timer {
    position: absolute;
    left: 8.5%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3.5vw;
    color: #4a0b6e;
}

#turns {
    position: absolute;
    left: 41%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 3.5vw;
    color: #4a0b6e;
}

/*---------------------------------------------Home page*/

.book-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 95%;
    margin: 0 auto 45%;
}

#home-page1 {
    position: relative;
    width: 95%;
    height: auto;
    grid-row: 1;
    grid-column: 1 / 1;
    z-index: 1;
    margin: 5% 8% 10% 5%;
}

#home-page2 {
    width: 85%;
    height: auto;
    grid-row: 1;
    grid-column: 2 / 2;
    z-index: 1;
    margin: 5% 5% 10% 10%;
}

.top-page1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

.btm-page1 {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

.top-page2 {
    display: flex;
    align-items: center;
    width: 100%;
    height: 80%;
}

.btm-page2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    height: 20%;
}

/*---------------------------------------------Game board*/

#game-page1,
#game-page2 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 85%;
    height: auto;
    perspective: 600px;
    grid-row: 1;
}

#game-page1 {
    grid-column: 1 / 1;
    margin: 5% 8% 10% 7%;
}

#game-page2 {
    grid-column: 2 / 2;
    margin: 5% 5% 10% 10%;
}

/*---------------------------------------------Cards*/

/*The below code was modified from 'https://3dtransforms.desandro.com/card-flip' to apply the card flip animation. */

.card-container {
    width: 80%;
    height: 80%;
    transition: transform 1s, height 0.6s ease-in-out, width 0.3s ease-in-out;
    transform-style: preserve-3d;
    position: relative;
    align-self: center;
    justify-self: center;
}

.card-container.flip {
    transform: rotateY(180deg);
}

.game-card {
    position: absolute;
    width: 100%;
    height: 100%;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transition: box-shadow 0.5s ease-in-out;
}

.front {
    transform: rotateY(180deg);
}

/*-------------------------*/

.card-container.float {
    width: 90%;
    height: 90%;
}

.card-container.float>.game-card {
    box-shadow: 0.8vw 0.8vw 1vw #b79959;
}

/*---------------------------------------------How to play page*/

#how-page1 {
    position: relative;
    width: 95%;
    height: auto;
    grid-row: 1;
    grid-column: 1 / 1;
    z-index: 1;
    margin: 5% 8% 10% 5%;
}

#how-page2 {
    position: relative;
    width: 89%;
    height: auto;
    grid-row: 1;
    grid-column: 2 / 2;
    z-index: 1;
    margin: 5% 5% 10% 8%;
}

.how-btm-pg {
    position: absolute;
    bottom: 0;
}

.how-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    overflow-y: scroll;
}

.how-heading {
    padding-bottom: 0;
    margin-bottom: 0;
}

/*---------------------------------------------High scores page*/

#score-page1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: auto;
    grid-row: 1;
    grid-column: 1 / 1;
    margin: 5% 8% 10% 7%;
}

#score-page2 {
    padding: 0;
    width: 85%;
    height: auto;
    grid-row: 1;
    grid-column: 2 / 2;
    margin: 5% 5% 10% 10%;
}

.score-top-pg {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr 1fr;
    justify-content: center;
    height: 80%;
    width: 100%;
}

#score-page2 p {
    font-weight: bold;
    font-size: 5vw;
    margin: 0;
    padding: 0;
    text-align: center;
}

#score-container {
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.player-score {
    display: block;
    font-weight: normal;
}

#recorded-score {
    height: auto;
    width: 60%;
}

/*---------------------------------------------Modals*/

.modal-content {
    background-color: transparent;
    background-image: url("../images/sign.webp");
    background-size: 100% 100%;
    border: none;
}

.modal-title {
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#win-title,
#lose-title {
    width: 100%;
}

#win-heading,
#lose-heading {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

#win-heading {
    top: 20%;
    font-size: 6.5vw;
}

#lose-heading {
    top: 15%;
    font-size: 8.2vw;
}

.modal-banner {
    height: auto;
    width: 100%;
}

#player-score {
    display: block;
    height: auto;
    width: 45%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    max-width: 160px;
}

#win-modal p {
    margin-bottom: 10px;
    font-size: 24px;
}

#lose-modal p {
    font-size: 24px;
}

#player-name {
    font-size: 20px;
    border-radius: 6px;
    border: 2px solid #4f4280;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#player-name:focus {
    outline: 1.5px solid #4a0b6e;
}

label {
    margin: 0 20px;
}

/*---------------------------------------------Footer*/

.cauldron {
    background-color: #404040;
    height: auto;
    width: 100%;
    position: relative;
}

.rim-shadow {
    background-color: #1b1b1b;
    height: 10%;
    width: 100%;
    position: absolute;
    top: 35%;
}

#slime {
    width: 100%;
    height: auto;
    z-index: 2;
    position: relative;
}

.footer-content {
    background-color: #404040;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

.social-media {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
}

.social-media i {
    color: #baff42;
    font-size: 200%;
    transition: font-size 0.2s ease-in-out;
}
        
.social-media i:hover {
    font-size: 300%;
}

.copyright {
    text-align: center;
}

.copyright p {
    color: #baff42;
}

/*---------------------------------------------Scrollbar*/

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-track {
    background: #4f4280;
    border-radius: 5px;
    box-shadow: inset 0 0 7px #1b1b1b;
}

::-webkit-scrollbar-thumb {
    background: #baff42;
    border-radius: 5px;
    box-shadow: inset 0 0 7px #1b1b1b;
}

::-webkit-scrollbar-thumb:hover {
    background: #7ac700;
    box-shadow: inset 0 0 7px #1b1b1b;
}

/*---------------------------------------------Media Queries*/

@media screen and (min-width: 575.5px) {
    #lose-heading {
        font-size: 45px;
    }

    #win-heading {
        font-size: 36px;
    }

    #title-container {
        width: 60%;
    }

    h1 {
        font-size: 5.4vw;
    }

    #scoreboard {
        width: 55%;
    }

    #turns,
    #timer {
        font-size: 3vw;
    }

    .book-container {
        width: 80%;
        margin: 0 auto 32%;
    }

    p,
    .li-text,
    .book-btn {
        font-size: 16px;
    }

    .book-btn {
        padding: 3px 5px;
    }

    .home {
        padding: 3px 15px;
    }

    h2,
    h3 {
        font-size: 22px;
    }

    ol li,
    #score-page2 p {
        font-size: 20px;
    }

    .bg-candle-orange {
        width: 20%;
        top: -40%;
        left: -10%;
    }

    .bg-candle-green {
        width: 20%;
        top: -40%;
        left: 90%;
        transform: none;
    }

    .bg-candle-purple {
        width: 120px;
        top: 380px;
        left: -340px;
    }

    .bg-wand {
        width: 45%;
        left: 25%;
        top: 60%;
        transform: rotate(300deg);
    }
}

@media screen and (min-width: 767.5px) {
    #title-container {
        width: 50%;
    }

    h1 {
        font-size: 4.4vw;
    }

    #scoreboard {
        width: 40%;
    }

    #turns,
    #timer {
        font-size: 2.2vw;
    }

    .book-container {
        width: 70%;
    }

    p,
    .li-text,
    .book-btn {
        font-size: 18px;
    }

    .book-btn {
        padding: 5px 8px;
    }

    .home {
        padding: 5px 18px;
    }

    h2,
    h3 {
        font-size: 26px;
    }

    ol li,
    #score-page2 p {
        font-size: 24px;
    }
}

@media screen and (min-width: 991.5px) {
    #title-container {
        width: 400px;
        margin: 2% auto 0;
    }

    h1 {
        font-size: 36px;
    }

    #scoreboard {
        width: 450px;
        margin-top: 25px;
        margin-bottom: 25px;
    }

    #turns,
    #timer {
        font-size: 24px;
    }

    .book-container {
        width: 700px;
        margin: 0 auto 10%;
    }

    .bg-candle-orange {
        width: 150px;
        top: 360px;
        right: -180px;
        left: auto;
    }
    
    .bg-candle-green {
        width: 170px;
        top: 190px;
        left: -200px;
    }
    
    .bg-candle-purple {
        width: 120px;
        top: 380px;
        left: -340px;
    }
    
    .bg-wand {
        width: 220px;
        top: 50px;
        left: auto;
        right: -320px;
        transform: none;
    }

    .bg-cauldron {
        left: -700px;
    }

    .bg-orb {
        right: -650px;
    }
}